extends javascript

snippet composable "vue composable" b
type State = {}

export type `!p snip.rv = snip.basename[0].upper() + snip.basename[1:]` = {
} & ToRefs<DeepReadonly<State>>

export function `!p snip.rv = snip.basename`(): `!p snip.rv = snip.basename[0].upper() + snip.basename[1:]` {
	$0
}
endsnippet

